__pycache__/
*.pyc
.venv/
data/
sauvegardes/

.pytest_cache/

android/build/
android/signature-test/
build/
dist/
*.spec
publication.json
android/signature-publication/
*.jks
*.keystore
mot-de-passe*.txt

interface.ini
